@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    
    <li class="nav-item">
        <a class="btn btn-outline-light" style="margin: 10px" class="nav-link text-dark" asp-area="" asp-controller="Producto" asp-action="Index">Productos</a>
    </li>

    @if(User.Identity.Name == "ynhh@demo.com" ){
        <li class="nav-item">
            <a class="btn btn-outline-light" style="margin: 10px" class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index"> Usuarios</a>
        </li>

        <li class="nav-item">
            <a class="btn btn-outline-light" style="margin: 10px" class="nav-link text-dark" asp-area="Identity" asp-controller="Agregar" asp-action="Index">Agregar</a>
        </li>

        <li class="nav-item">
            <a class="btn btn-outline-light" style="margin: 10px" class="nav-link text-dark" asp-area="Identity" asp-controller="Editar" asp-action="Index">Editar</a>
        </li>
    }

}
else
{


    <li class="nav-item">
        <a class="btn btn-outline-light" style="margin: 10px" class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Create">Contacto</a>
    </li> 

}