@model Jamui_Rantiy.Models.Agregar

@{
    ViewData["Title"] = "Agregar";
}

<div class="row">
    <div class="col-md-4">  
        <h1 class="display-4">Editar Contacto</h1>
        <form asp-controller="Agregar" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />

            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>   
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                 <span asp-validation-for="Number" class="text-danger"></span>
            </div> 

            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                 <span asp-validation-for="ID" class="text-danger"></span>
            </div> 
          
             <label>Talla</label>
            <select asp-for="Acccion">
                <option >XS</option>
                <option >S</option>
                <option >M</option>
                <option >L</option>
                <option >XL</option>
                <option >XXL</option>
            </select>   
           
            <div class="form-group">
                 <button type="submit" class="btn btn-default">Registrar</button> 
            </div>                      

        </form>
            
        <td>@Html.DisplayTextFor(model => model.Response)</td>    
    
    </div>
</div>