@model Jamui_Rantiy.Models.Compra

@{
    ViewData["Title"] = "Contacto";
}
<div class="row">
    <div class="col-md-4">  
        <h1 class="display-4">Compra</h1>
        <form asp-controller="Contacto" asp-action="Compra">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <h2 class="text-center">Talla</h2>
            <form method="post">
                <div class="validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>
            </ul></div>    
           
           <h3 class="text-center">Precio</h3>
            <form method="post">
                <div class="validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>
           </ul></div>    
            
            <h4 class="text-center">Color</h4>
            <form method="post">
                <div class="validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>
            </ul></div>    
  
           <h5 class="text-center">Diseño</h5>
            <form method="post">
                <div class="validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>
            </ul></div> 
         
             <h6 class="text-center">Descripcion</h6>
            <form method="post">
                <div class="validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>
            </ul></div> 

            <div class="text-center m-4">
                    <button class="btn btn-primary waves-effect waves-light">Comprar</button>
                </div> 
</form>
</form>
</form>
</form>